<div class="row">
  <div class="col-12 p-lg-5 p-3">

    <div class="row">

      <div class="col-lg-6 col-sm-12" data-aos="fade-left" >
        <img src="assets/icons/secoundland.svg" class="second-img">
      </div>

      <div class="col-lg-6 col-sm-12 " data-aos="zoom-in">
        <div class="row min-h">
          <div class="col-12 mt-lg-4 mb-5">
            <span class="s-text">A donde vayas...</span>
          </div>
          <div class="col-12 ">
            <span class="f-text"></span>
          </div>
          <div class="col-12 ">
            <span class="t-text"></span>
          </div>

          
        </div>
      </div>

    </div>

  </div>
</div>




<!--
            <div class="col-12 ">
            <span class="f-text">Mira programas y eventos en vivo.</span>
          </div>
          <div class="col-12 ">
            <span class="t-text">Hasta "xx" canales en cualquier red WiFi Totalplay o hasta "xx" en otras redes.</span>
          </div>
          <div class="col-12 mt-5">
            <span class="f-text">Regresa el tiempo.</span>
          </div>
          <div class="col-12 ">
            <span class="t-text">Hasta 7 dias atras y vuelve a ver ese episodio o partido que te perdiste.</span>
          </div>
          <div class="col-12 mt-5">
            <span class="f-text">Estrenos de cine sin horarios.</span>
          </div>
          <div class="col-12 ">
            <span class="t-text">Renta en tu TV y lleva contigo las peliculas más exitosas del momento</span>
          </div>
-->