@import "../../../../../styles.scss";

.footer{
    height: 300px;
    @include sm {
        height: 100px;
    }
}


.title{
    font-size: 12px;
    font-weight: 700;
}

.context{
    font-size: 10px;
}
