<div class="row footer">
  <div class="col-12">
    <div class="col-12">
      <span class="title">Términos y condiciones</span>
    </div>
    <div class="col-12">
      <span class="context">Consulta terminos y condiciones de los paquetes, características, servicios y documentos relacionados <a
          href="#">aquí</a></span>
    </div>
    <div class="col-12 mt-3">
      <span class="context">Para navegar a la máxima velocidad de descarga contratada, se recomienda conectarse via alámbrica utilizando
        un cable ethernet. Las velocidades de transferencia de internet se ofrecen hasta la velocidad indicada y pueden
        variar debido al tráfico y transferencia de datos fuera de la red de totalplay. Las velocidades de carga varian
        en los planes debido a que el servicio de internet es asimétrico para planes tripleplay y dobleplay inicial
        1mbps, escencial 3mbps, básico 6mbps, práctico 8mbps, familiar 10mbps, total 20 mbps, premium 30mbps y sin
        limite 50mbps</span>
    </div>

  </div>
</div>
