<!--Navbar Primary-->
<div class="row align-items-center shadow fixed" *ngIf="first; else mobile">
    <div class="col-2 px-3 text-center">
        <img src="assets/icons/logoblack.svg">
    </div>
    <div class="col-8 text-center">
        <span class="px-3">Servicios</span>
        <span class="px-3">Paquetes</span>
        <span class="px-3">Soporte</span>
        <span class="px-3">Valida tu cobertura</span>
        <span class="px-3">Ver la Tv</span>
    </div>
    <div class="col-2 text-center">
        <button mat-fab class="button-sidebar">
            <mat-icon class="icon-sidebar">account_circle</mat-icon>
          </button>
    </div>
  </div>

  <!--Navbar Secondary-->
<ng-template #mobile>
    <div class="row align-items-center shadow fixed">
      <div class="col-6 mx-2 py-2">
        <img src="assets/icons/logoblack.svg">
      </div>
      <div class="col-5 text-end">
        <button mat-fab class="button-sidebar">
            <mat-icon class="icon-menu" >menu</mat-icon>
          </button>
      </div>
    </div>
</ng-template>
