<!--Navbar Primary-->
<div class="row align-items-center shadow fixed" *ngIf="first; else mobile">
    <div class="col-3 px-5 text-center">
        <img src="assets/icons/logoblack.svg">
    </div>
    <div class="col-9 text-end">
        <button mat-fab class="button-sidebar">
            <mat-icon class="icon-menu" >menu</mat-icon>
          </button>
      </div>
  </div>

  <!--Navbar Secondary-->
<ng-template #mobile>
    <div class="row align-items-center shadow fixed">
      <div class="col-6 mx-2 py-2">
        <img src="assets/icons/logoblack.svg">
      </div>
      <div class="col-5 text-end">
        <button mat-fab class="button-sidebar">
            <mat-icon class="icon-menu" >menu</mat-icon>
          </button>
      </div>
    </div>
</ng-template>
