@import "../../../../../styles.scss";


.button-sidebar {
    background-color: white;
    box-shadow: none !important;
}

.icon-sidebar {
    color: black;
    font-size: 26px;
}

.icon-menu {
    color: black;
    font-size: 24px;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
}