<div class="container mt-5" data-aos="zoom-in">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
  <div class="cards">
    <label class="card" for="item-1" id="landing-1">
      <img src="assets/icons/car2.svg">
    </label>
    <label class="card" for="item-2" id="landing-2">
      <img src="assets/icons/car1.svg">
    </label>
    <label class="card" for="item-3" id="landing-3">
      <img src="assets/icons/car3.svg">
    </label>
  </div>
</div>