.container {
    background-color: #3B4559;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    color: white;
    animation: aparece 1s linear;
}

@keyframes aparece {
    0% {
        margin-right: -100px;
        opacity: 0;
    }

    100% {
        margin-right: 0px;
        opacity: 1;
    }
}

.img-play {
    height: 35px;
    margin-top: 8px;
}

.text-one {
    font-size: 14px;
    font-weight: 500;
}

.text-two {
    font-size: 18px;
    font-weight: 500;
}

p {
    margin: 0;
}