<div class="row">
  <div class="col-12 p-lg-5 p-3">

    <div class="row">
      <div class="col-lg-6 col-sm-12 order-2 order-sm-1">

        <div class="row">
          <div class="col-12 mt-5">
            <span class="f-text">Usa el App Totalplay</span>
            <div class="col-12">
              <span class="s-text">Para todo</span>
            </div>
            <div class="col-12 mt-5 mb-3 ">
              <span class="t-text">¡Descargala ahora!</span>
            </div>
            <div class="row">
              <div class="col-6 col-lg-4">
                <app-card-mac></app-card-mac>
              </div>

              <div class="col-6 col-lg-4">
                <app-card-gpay></app-card-gpay>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12 order-1 order-sm-2">
        <img src="assets/icons/firstland.svg" class="first-img">
      </div>

    </div>

  </div>
</div>
