@import "../../../../styles.scss";

.first-img {
    height: 80%;
    margin-top: 8px;
    animation: f-imagen 1s linear;
    @include sm {
        height: 100%;
        animation: f-imagen 2.5s linear;
    }
}

.f-text{
    font-size: 2rem;
    font-weight: 700;
    @include sm {
        font-size: 3rem;
    }
}

.s-text{
    font-size: 2rem;
    font-weight: 300;
    @include sm {
        font-size: 4rem;
    }
}

.t-text{
    font-size: 1.5rem;
    font-weight: 700;
    @include sm {
        font-size: 2rem;
    }
}


@keyframes f-imagen {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(-0.75em);
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      transform: translateZ(-1000em);
    }
  }
  